<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.azxx.picture.mapper.FileInfoMapper" >
  <resultMap id="appInfo" type="com.azxx.picture.entity.AppInfo">
    <id column="id" property="Id"/>
    <id column="appid" property="appId"/>
    <id column="appname" property="appName"/>
    <id column="version" property="version"/>
    <id column="url" property="url"/>
    <id column="icon" property="icon"/>
    <id column="preview" property="preview"/>
    <id column="apptype" property="appType"/>
    <id column="oldtype" property="oldType"/>
    <id column="newtype" property="newType"/>
    <id column="state" property="state"/>
    <id column="releasedate" property="releaseDate"/>
    <id column="bundleid" property="bundleId"/>
    <id column="packagename" property="packageName"/>
    <id column="activityname" property="activityName"/>
    <id column="params" property="params"/>
    <id column="plist" property="pList"/>
    <id column="grayplist" property="graypList"/>
    <id column="releasepolicy" property="releasePolicy"/>
    <id column="devid" property="devId"/>
    <id column="iscurrent" property="isCurrent"/>
    <id column="description" property="description"/>
    <id column="urlscheme" property="urlScheme"/>
    <id column="entryurl" property="entryUrl"/>
    <id column="updateinfo" property="updateInfo"/>
    <id column="isskipgray" property="isSkipGray"/>
    <id column="summary" property="summary"/>
    <id column="commentparams" property="commentParams"/>
    <id column="downamount" property="downAmount"/>
    <id column="appclass" property="appClass"/>
    <id column="region" property="region"/>
  </resultMap>
  <select id="selectAppInfo" resultType="com.azxx.picture.vo.AppInfoVo">
  	select * from file_apps_info
  	where 1=1
  	<if test="appName != null and appName !=''" >
        and appname like concat('%',#{appName, jdbcType=VARCHAR},'%')
    </if>
    <if test="startTime != null and startTime !=''" >
        <![CDATA[ and releasedate >=  #{startTime} ]]>
      </if>
      <if test="endTime != null and endTime !=''" >
        <![CDATA[ and releasedate <=  #{endTime} ]]>
      </if>
  </select>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    id, name, title, description, size, type, group_id, group_name, url, create_time, record_time
  </sql>

  <select id="getAppByAppId" resultType="com.azxx.picture.entity.AppInfo" parameterType="java.lang.String">
      select * from  file_apps_info
      where appid = #{appId}

  </select>

</mapper>